body {
 Margin: 0;
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100%;
 -webkit-text-size-adjust: 0;
 -ms-text-size-adjust: 0;
 -moz-text-size-adjust: 0;
 text-size-adjust: 0;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

.wrapper {
 width: 100%;
 height: 100%;
 Margin: 0;
 margin: 0;
 padding: 0;
 border-spacing: 0;
 table-layout: fixed;
 background-repeat: repeat;
 background-position: top left;
 background-size: cover;
 -ms-interpolation-mode: bicubic;
 image-rendering: high-quality;
 background-image: url("/img/bg2.png");
 overflow: hidden;
 background-attachment: fixed;
 -webkit-text-size-adjust: 0;
 -ms-text-size-adjust: 0;
 -moz-text-size-adjust: 0;
 text-size-adjust: 0;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 isolation: isolate;
}

table,
tr,
td {
 Margin: 0;
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100%;
 font-size: 0;
 box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 border-spacing: 0;
 table-layout: fixed;
 vertical-align: top;
}

p {
 Margin: 0;
 margin: 0;
 padding: 0;
 color: #2f3e56;
}

a {
 color: #2f3e56;
 text-decoration: none;
}

.main-table {
 width: 100%;
 max-width: 600px;
 Margin: 0 auto;
 margin: 0 auto;
 padding: 10px 0 0;
 border-spacing: 0;
}

.two-column {
 width: 100%;
 text-align: center;
 font-size: 0;
 border-spacing: 0;
 display: inline-block;
 Margin: 0 auto;
 margin: 0 auto;
 padding: 0;
}

.section {
 position: relative;
 width: 100%;
 text-align: center;
 Margin: 0 auto;
 margin: 0 auto;
 padding: 0;
 max-width: 100%;
 height: 100%;
 min-height: 100%;
 border-spacing: 0;
 vertical-align: bottom;
 display: inline-block;
 background-repeat: no-repeat;
 background-position: bottom right;
 background-size: contain;
 -ms-interpolation-mode: bicubic;
 image-rendering: optimizeQuality;
 image-resolution: from-image 300dpi;
}

.content {
 position: relative;
 max-width: 100%;
 border-spacing: 0;
}

.main {
 width: 320px;
 height: 540px;
}

.side {
 width: 280px;
 height: 400px;
 background-image: url("/img/side2.png");
 z-index: 1;
}

.main-cover {
 position: absolute;
 inset: 0 -92px 0 -50px;
 height: 150%;
 background-image: url("/img/main2.png");
 background-repeat: no-repeat;
 background-position: top left;
 background-size: 100%;
 -ms-interpolation-mode: bicubic;
 image-rendering: optimizeQuality;
 image-resolution: from-image 300dpi;
}

.message {
 margin: 0;
 Margin: 0;
 padding: 120px 20px 0;
 max-width: 100%;
 max-height: fit-content;
 font-family: sans-serif;
 font-size: 14px;
 line-height: 1.2;
 text-align: justify;
 text-justify: inter-character;
 overflow: hidden;
 text-overflow: ellipsis;
 mix-blend-mode: multiply;
}

.message p {
 height: 100%;
 max-height: 200px;
 word-wrap: break-word;
 overflow-wrap: break-word;
 -webkit-hyphens: auto;
 -moz-hyphens: auto;
 -ms-hyphens: auto;
 hyphens: auto;
 font-smooth: always;
 font-smoothing: antialiased;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 text-rendering: geometricPrecision;
}