body {
 Margin: 0;
 margin: 0;
 padding: 0;
}

.adjustment,
.wrapper {
 width: 100%;
 table-layout: fixed;
 background-repeat: no-repeat;
 background-position: top left;
 background-size: cover;
}

.adjustment {
 position: absolute;
 inset: 0;
 background-image: url('/img/adjustment.png');
 z-index: 5;
}

.wrapper {
 position: relative;
 background-image: url('/img/bg.png');
 overflow: hidden;
}

.wrapper-inner {
 width: 100%;
 max-width: 1000px;
 Margin: 0 auto;
 margin: 0 auto;
}

table {
 box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 border-spacing: 0;
 font-family: 'Montserrat', Helvetica, sans-serif;
 color: #2f3e56;
}

td {
 padding: 0;
}

p, span {
 Margin: 0;
 margin: 0;
 padding: 0;
}

a {
 color: #2f3e56;
 text-decoration: none;
}

/*--- End Outer Table 1 --*/
.main-table {
 width: 100%;
 max-width: 1000px;
 Margin: 0 auto;
 margin: 0 auto;
 padding: 2% 0 10%;
}

/*--- Start Two Column Sections --*/
.two-column {
 text-align: center;
 font-size: 0;
 padding: 0;
}

.section {
 position: relative;
 width: 100%;
 max-width: 400px;
 text-align: center;
 Margin: 0;
 margin: 0;
 padding: 0;
 border-spacing: 0;
 display: inline-block;
 vertical-align: top;
 isolation: isolate;
}

.content {
 width: 100%;
 Margin: 0;
 margin: 0;
 padding: 0;
 border-spacing: 0;
 font-size: 13px;
 line-height: 1.4;
}

img {
 border: 0;
}

.letter-head {
 width: 100%;
 table-layout: fixed;
 background-color: #ebebeb;
}

.blue-square {
 width: 50px;
 height: 40px;
 position: absolute;
 inset: 0 0 auto auto;
 background-repeat: no-repeat;
 background-position: top right;
 background-size: cover;
 background-image: url('/img/blue-square.png');
 z-index: 1;
 mix-blend-mode: hard-light;
}

.letter-head-texture {
 width: 100%;
 position: absolute;
 inset: 0;
 background-repeat: no-repeat;
 background-position: top left;
 background-size: cover;
 background-image: url('/img/texture-letter.png');
 opacity: .4;
}

.spacer {
 z-index: 2;
 font-size: 0;
 width: 100%;
 max-width: 20px;
 padding: 110px;
 margin: 0 auto;
}

.flap,
.envelope {
 position: absolute;
}

.flap {
 z-index: -2;
 width: 100%;
 bottom: 150px;
 left: -17px;
}

.envelope {
 width: 120%;
 bottom: -60px;
 left: -50px;
 z-index: 2;
}

.brand {
 width: 100%;
 font-size: 16px;
 text-align: left;
 padding: 40px 40px 15px;
}

.logo {
 width: 1.4em;
 margin-right: .2em;
 mix-blend-mode: darken;
}

.logo,
.company {
 vertical-align: top;
}

.break {
 width: 80%;
}

.msg {
 width: 100%;
 max-width: 320px;
 margin: 0 auto;
 text-align: justify;
 hyphens: auto;
 -ms-hyphens: auto;
}

.signature {
 text-align: left;
 line-height: 1.1;
 font-size: 1.1em;
}

.actual-sig {
 width: 30%;
 padding-left: 20px;
}

.side-notes {
 width: 100%;
 max-width: 300px;
 margin: 0 auto;
 color: #fff;
}