.body {
 Margin: 0;
 margin: 0;
 padding: 0;
 width: 100%;
 height: 100%;
 min-width: 100%;
 min-height: 100%;
 -webkit-text-size-adjust: 0;
 -ms-text-size-adjust: 0;
 -moz-text-size-adjust: 0;
 text-size-adjust: 0;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

.adjustment,
.wrapper {
 width: 100%;
 height: 100%;
 table-layout: fixed;
 background-repeat: no-repeat;
 background-position: 0;
 background-size: cover;
 -ms-interpolation-mode: bicubic;
 image-rendering: optimizeSpeed;
 background-attachment: fixed;
 background-origin: border-box;
}

.adjustment {
 position: absolute;
 inset: 0;
 background-image: url("/img/adjustment2.png");
 mix-blend-mode: multiply;
 z-index: 1;
}

.wrapper {
 position: relative;
 background-image: url("/img/bg2.png");
 overflow: hidden;
 margin: 0;
 margin: 0;
 padding: 0;
 width: 100%;
 min-width: 100%;
 -webkit-text-size-adjust: 0;
 -ms-text-size-adjust: 0;
 -moz-text-size-adjust: 0;
 text-size-adjust: 0;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 isolation: isolate;
}

.wrapper-inner {
 width: 100%;
 max-width: 800px;
 text-align: left;
 margin: 0 auto;
}

table,
tr,
td {
 margin: 0;
 margin: 0;
 padding: 0;
 width: 100%;
 box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 border-spacing: 0;
 table-layout: fixed;
 color: #2f3e56;
}

p {
 margin: 0;
 margin: 0;
 padding: 0;
}

a {
 color: #2f3e56;
 text-decoration: none;
}

/*--- End Outer Table 1 --*/
.main-table {
 width: 100%;
 max-width: 650px;
 Margin: 0 auto;
 margin: 0 auto;
 padding: 5% 0;
}

/*--- Start Two Column Sections --*/
.three-column {
 text-align: center;
 font-size: 0;
 padding: 0;
 display: inline-block;
}

.section {
 position: relative;
 text-align: left;
 margin: 0;
 margin: 0;
 padding: 0;
 max-width: 100%;
 height: 100%;
 min-height: 100%;
 border-spacing: 0;
 display: inline-block;
 vertical-align: bottom;
}

.main {
 width: 320px;
 min-width: 320px;
 max-width: 320px;
 height: 500px;
 max-height: 500px;
 isolation: isolate;
}

.mid {
 width: 85px;
 min-width: 85px;
 max-width: 85px;
}

.side {
 margin-top: 160px;
 min-width: 245px;
 max-width: 245px;
}

img {
 border: 0;
 -ms-interpolation-mode: bicubic;
 image-rendering: optimizeSpeed;
 outline: none;
}

.content,
.content-holder {
 max-width: 100%;
 height: 100%;
 min-height: 100%;
 margin: 0;
 margin: 0;
 padding: 0;
}

.add-ons {
 max-width: 100%;
 height: 100%;
 min-height: 100%;
 padding: 0;
 font-size: 15px;
}

.main-content {
 margin: 0 auto;
 margin: 0 auto;
 max-width: 100%;
 font-size: 16px;
 mix-blend-mode: darken;
}

.blue-square,
.letter-head,
.letter-head-cover,
.flap,
.envelope {
 padding: 0;
 margin: 0;
 margin: 0;
 position: absolute;
 background-repeat: no-repeat;
 background-position: bottom right;
 background-size: cover;
 -ms-interpolation-mode: bicubic;
 image-rendering: optimizeSpeed;
 z-index: -1;
}

.blue-square {
 width: 86px;
 height: 60px;
 inset: -61.5px -79.5px auto auto;
 background-image: url("/img/blue-square.png");
 mix-blend-mode: multiply;
}

.letter-head {
 position: absolute;
 background-color: #ebebeb;
 inset: -60px -55px;
}

.letter-head-cover {
 background-image: url("/img/A4-letter-head.png");
 /* inset: -63px -77px -73px -65px; */
}

.flap,
.envelope {
 inset: 0 -53% -75% -33%;
 background-size: contain;
}

.flap {
 background-image: url("/img/flap.png");
}

.envelope {
 background-image: url("/img/envelope.png");
}

.brand {
 max-width: 100%;
 padding: 0;
 margin: 0 auto;
 margin: 0 auto;
 text-align: center;
 padding: 10px 0 20px;
}

.logo,
.company {
 border-spacing: none;
 padding: 0;
 margin: 0;
 margin: 0;
 display: inline-block;
 vertical-align: text-top;
 text-align: left;
}

.company {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1.2em;
 font-weight: bold;
 line-height: 1.5;
 letter-spacing: -1px;
}

.logo {
 width: 24px;
 height: 25.6px;
 -ms-interpolation-mode: bicubic;
 image-rendering: optimizeSpeed;
 background-repeat: no-repeat;
 background-position: top center;
 background-size: contain;
 background-image: url("/img/logo.png");
}

.break {
 width: 80%;
}

.msg {
 margin: 0;
 margin: 0;
 padding: 0;
 max-width: 100%;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1em;
 line-height: 1.5;
 text-align: justify;
 word-wrap: break-word;
 hyphens: auto;
 -ms-hyphens: auto;
 -moz-hyphens: auto;
 -webkit-hyphens: auto;
}

.signature {
 text-align: left;
 font-size: 1em;
}

.zee {
 line-height: 1.2;
 font-weight: bold;
}

.actual-sig {
 width: 45%;
 height: 2em;
 background-repeat: no-repeat;
 background-position: right;
 background-size: contain;
 background-image: url("/img/signature.png");
 -ms-interpolation-mode: bicubic;
 image-rendering: optimizeSpeed;
}

.add-ons-bg,
.pen,
.marker,
.pdf {
 position: absolute;
 background-repeat: no-repeat;
 background-position: top left;
 background-size: 100%;
 -ms-interpolation-mode: bicubic;
 image-rendering: optimizeSpeed;
}

.pdf {
 /* inset: -6.2% -14% 91% 82.6%; */
 width: 55px;
 height: 55px;
 inset: -24px -14px auto auto;
 background-image: url("/img/pdf2.png");
 mix-blend-mode: multiply;
}

.marker {
 /* inset: 100% 0 -32% 2%; */
 width: 230px;
 height: 70px;
 inset: auto auto -68px 18px;
 background-image: url("/img/marker2.png");
}

.pen {
 /* inset: 8% 0 2% -20%; */
 width: 70px;
 height: 315px;
 inset: 20px auto auto -45px;
 background-image: url("/img/pen2.png");
 z-index: 2;
}

.add-ons-bg {
 /* inset: -46px -45px -80px -21px; */
 width: 310px;
 height: 470px;
 inset: -46.5px auto auto -20px;
 background-image: url("/img/notes2.png");
}

.side-notes {
 position:relative; 
 max-width:100%; 
 height:370px; 
 max-height:370px; 
 min-height:100%; 
 color:#2f3e56; 
 font-family:Arial,Helvetica,sans-serif; 
 font-size:0.67em; 
 line-height:1.2; 
 text-align:left; 
 text-justify:inter-character; 
 word-wrap:break-word; 
 hyphens:auto; 
 -ms-hyphens:auto; 
 -moz-hyphens:auto; 
 -webkit-hyphens:auto;
}

mark {
 background-color: rgba(240, 240, 0, 0.4);
 color: #2f3e56;
 mix-blend-mode: multiply;
}

.heading {
 max-width: 100%;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1.4em;
 font-weight: bold;
 line-height: 3;
 text-align: left;
 padding: 0 60px;
 opacity: 0.9;
}

.list {
 max-width: 100%;
 padding: 0 10px 0 16px;
 font-size: 1em;
 font-weight: bold;
 line-height: 1.4;
}

.subtext {
 max-width: 100%;
 display: inline-block;
 padding: 0 10px 0 18px;
 line-height: 1.2;
 font-weight: normal;
 font-size: 0.95em;
}

.example-holder,
.requirements {
 max-width: 100%;
 padding: 1px 0;
 font-size: 1em;
 mix-blend-mode: multiply;
}

.sample,
.label,
.detail {
 max-width: 100%;
 text-align: center;
 display: block;
}

.sample {
 font-size: 1.15em;
 font-weight: bold;
 line-height: 1.8;
}

.label {
 opacity: 0.8;
 font-size: .9em;
 line-height: 1;
 letter-spacing: 1.6px;
}

.detail {
 font-size: 1.1em;
 text-align: left;
 padding: 0 2px 0.5em 8px;
}

.utilities {
 font-size: 0;
}