body {
 Margin: 0;
 margin: 0;
 padding: 0;
}

.adjustment,
.wrapper {
 width: 100%;
 table-layout: fixed;
 background-repeat: no-repeat;
 background-position: top left;
 background-size: cover;
}

.adjustment {
 position: absolute;
 inset: 0;
 background-image: url('/img/adjustment.png');
 z-index: 2;
}

.wrapper {
 position: relative;
 background-image: url('/img/bg.png');
 overflow: hidden;
}

.wrapper-inner {
 width: 100%;
 max-width: 800px;
 Margin: 0 auto;
 margin: 0 auto;
}

table {
 box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 border-spacing: 0;
 font-family: Helvetica, sans-serif;
 color: #2f3e56;
}

td {
 padding: 0;
}

p, span {
 Margin: 0;
 margin: 0;
 padding: 0;
}

a {
 color: #2f3e56;
 text-decoration: none;
}

/*--- End Outer Table 1 --*/
.main-table {
 width: 100%;
 max-width: 800px;
 Margin: 0 auto;
 margin: 0 auto;
}

/*--- Start Two Column Sections --*/
.two-column {
 text-align: center;
 font-size: 0;
 padding: 0;
}

.section {
 width: 100%;
 text-align: center;
 Margin: 0;
 margin: 0;
 display: inline-block;
 vertical-align: top;
}

.content {
 width: 100%;
 padding: 0;
 font-size: 14px;
 line-height: 1.4;
 text-align: justify;
 hyphens: auto;
 -ms-hyphens: auto;
 word-break: break-word;
}

img {
 border: 0;
}

.main {
 max-width: 400px;
}

.side {
 max-width: 200px;
}

.letter-head {
 width: 100%;
 position: relative;
 table-layout: fixed;
 background-color: #ebebeb;
}

.blue-square {
 width: 20px;
 position: absolute;
 top: 0;
 right: 0;
}

.letter-head-texture {
 width: 100%;
 position: absolute;
 inset: 0;
 background-repeat: no-repeat;
 background-position: top left;
 background-size: cover;
 background-image: url('/img/texture-letter.png');
 opacity: .4;
}

.brand {
 width: 100%;
 font-size: 0;
 text-align: center;
 padding: 40px 0 20px;
}

.logo {
 width: 20px;
 margin-right: 5px;
}

.company {
 font-size: 18px;
}

.logo,
.company {
 text-align: center;
 vertical-align: top;
}

.msg {
 max-width: 320px;
 text-align: left;
 margin: 0 auto;
}

.signature {
 text-align: left;
 line-height: 1.1;
}

.actual-sig {
 width: 30%;
 padding-left: 20px;
}

.side-notes {
 width: 80%;
/*  max-width: 140px; */
}

/*.envelope {
 width: 100%;
 position: relative;
}

.flap,
.actual-envelope {
 position: absolute;
}

.actual-envelope {
 width: 170%;
 inset: -35px -34% 35px;
}

.flap {
 width: 146.5%;
 inset: -165px -23% 165px;
 z-index: -2;
}

.letter-head-texture,
.letter-head {
 position: absolute;
 width: 140%;
 inset: -110px -20%;
}

.letter-head-texture {
 opacity: .2;
}

.letter-head {
 background-color: #ebebeb;
 z-index: -1;
}